img{
    border-radius: 10px;
}
#logo{
    width:95px;
    height:95px;
}
/*.phone{
    width:250px;
}*/
.prof{
    max-width:95%;
    height:47%;
}
body{
    background-color: #f7d8d5;
}
.card{
    background-color: #f7c7c2;
    border: 3px solid #63160d;
    box-shadow: 0 0 10px #e07f74;
}
header{
    background-color: #02455f;
    height: 110px;
    box-shadow: 0 0 10px #017272;
    color:#f7d12cee;
}
footer{
    background-color: #02455f;
    height: 210px;
    box-shadow: 0 0 10px #017272;
    color:black;
}
 .rev{
    background-color: #02455f;
    color:#f7d12cee;
}
nav a:hover{
    color:#fa968b ;
}
nav a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #63160db9;
}
nav a:visited{
    color:#02455f;
}